body{
    background-color:black;
}

header{
    color:white;
    font-family: 'Open Sans',sans-serif;
    font-style:normal;
}

.mainContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
    height:86vh;
}
.selection{
    font-size:.8rem;
    text-align:center;
}
.selector{
    justify-content: center;
    margin: 0 auto;
    width:120px;
    font-size:1.1rem;
    height:25px;
}

footer{
    display:flex;
    justify-content:center;
}
.copyrightInfo{
 text-align:center;
 color:#c2c2c2;
 font-size:.9rem;
 font-family: 'Open Sans';
}
@media all and (min-width:600px){
    .mainContainer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    }
    .nytLogo{
        // min-width:25%;
        width:25%;
        // max-width:220px;
    }
    .nytLogo img{
        height:auto;
        width:100%;
    }
    .selection{
        // padding-right:6rem;
         margin: 0 6rem 0 0 ;
        // max-width:250px;
        font-size:1rem;
    }
}
    @media all and (min-width:1000px){
        .mainContainer{
        display:flex;
        justify-content:flex-start;
        // width:40%;

        }
        .nytLogo img{
            width:220px;
        }
        form{
            margin: auto;
            // padding-right:6rem;
            // margin: 0 6rem 0 0 ;
        }

        footer{
            justify-content: flex-start;
            padding-left:1rem;
        }
    }
